*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color:black;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}           
.card{
    width: 420px;
    height: fit-content;
    background-color: hsl(0, 0%, 100%);
    border-radius: 10px;
    box-shadow: 0 35px 80px rgba(0,0,0,0.15);
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(31, 31, 31);
}
.image{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
img{
    width: 100px;
    height: 100px;
    border-radius: 50%;
}
h2{
    color: hsl(0, 0%, 100%);
    font-size: 1.6rem;
    margin: 20px 0;
}
h3{
    color: hsl(75, 94%, 57%);
    font-size: 1rem;
    margin-bottom: 1.8rem;
}
p{
    color: hsl(0, 0%, 100%);
    font-size: 1.1rem;
    margin-bottom: 20px;
}
.links{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-bottom: 20px;
}
a{
    text-decoration: none;
    font-size: 1.1rem;
    color: hsl(0, 0%, 100%);
    margin: 5px 0;
    display: flex;
    justify-content: center;    
    align-items: center;
    padding: 1.7rem 2rem ;
    width: 20rem;
    height: 2rem;
    background-color: #333333;
    margin-bottom: 0.7rem;
    border-radius: 9px;
}