* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: #000;
}

.card {
    width: 250px;
    height: 350px;
    border-radius: 20px;
    border: 8px solid #f2e6e6;
}

.card1 {
    width: 350px;
    position: absolute;
    height: 250px;
    border-radius: 20px;
    border: 8px solid #f2e6e6;
    margin-top: -8.5rem;
}


.rotate {
    animation: wheelRotate 3s linear infinite;
}

@keyframes wheelRotate {
    0% {
        transform: rotateZ(0deg);
    }
    100% {
        transform: rotateZ(360deg);
    }
}

.btn {
    width: fit-content;
    height: fit-content;
    padding: 10px 20px;
    color: #0a0909;
    border: 0.8px solid #f2e6e6;
    margin-top: 5rem;
    border-radius: 5px;
    cursor: pointer;
    font-size: 30px;
    font-weight: bold;
    background: #f2e6e6;
}

.color {
    background-color: rgb(232, 132, 132);
    color: black;
}
